# Ignore everything
/*

# Allow .gitignore
!.gitignore

# Allow mods folders
!/*_storage
/*_storage/*
!/*_storage/mods
/*_storage/mods/mods_go_here

# Ignore archive files left lying around in /mods/
/*_storage/mods/*.rar
/*_storage/mods/*.zip
/*_storage/mods/*.7z
/*_storage/mods/*.tar

# Allow chgrp.sh
!/chgrp.sh
